*{
    margin: 0;
    padding: 0;
    font-family: DM sans;
}
body{
    background-color: #121212;
}
.logo{
    padding-top:10px;
    padding-bottom: 20px;
}
.sidebar{
    background-color:#000000;
    width: 250px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    line-height: 1;
    color:white;
}
ul li img {
    margin-right: 20px;
}
a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: white;
    padding:10px;
}
a:hover{
    width:250px;
    background-color: rgb(52, 50, 50);
}
#one , #two{
    padding-bottom: 30px;
}
#three{
    padding-bottom:30px;
}
.botext{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}
.green{
    display: flex;
    background-color: rgb(15, 235, 15);
    width:1515px;
    justify-content: flex-end;
    color:black;
    font-size: small;
}
#bottombar{
    background-color: rgb(31, 30, 30);
    color:white;
    display: flex;
    flex-direction:row;
}
.ryt{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-left:280px;
    width:100px;
}
.player{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-left:300px;
}
.Right{
    color:white;
    margin-top: -49%;
    margin-left: 280px;
    margin-right: 100px;
    font-size: 30px;
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
   
}
button , button img{
    background-color: black;
    color:white;
    border-radius:10%;
    padding: 5px;
}
.playlists{
    display: flex;
    flex-wrap: wrap;
}
.play1{
    margin-left:280px;
    color:white;
    width:255px;
    background-color: rgb(56, 55, 55);
}
.play2{
    color:white;
    margin-left: 10px;
    height:fit-content;
    width:250px;
    background-color: rgb(56, 55, 55);
}
.play3{
    color:white;
    margin-left: 10px;
    width:250px;
    background-color: rgb(56, 55, 55);
}
.play4{
    color:white;
    margin-left: 10px;
    width:250px;
    background-color: rgb(56, 55, 55);
}
.play5{
    color:white;
    margin-left:280px;
    margin-top: 10px;
    width:255px;
    background-color: rgb(56, 55, 55);
}
.text{
    margin-left: 250px;
    color:white;
    display: flex;
    padding: 30px;
    font-size: 30px;
    justify-content: space-between;
    align-content: space-between;
}
.blocks{
    display: flex;
    gap:30px;
    margin-left: 280px;
    color:white;
    align-content: center;
}

 .block1{
    display: inline-block;
    padding: 10px;
    background-color:rgb(53, 50, 50);
}
.block2{
    display: inline-block;
    padding: 10px;
    background-color:rgb(53, 50, 50);
}
.block3{
    display: inline-block;
    padding: 10px;
    background-color:rgb(53, 50, 50); 
}
.block4{
    display: inline-block;
    padding: 10px;
    background-color:rgb(53, 50, 50);
}
.block5{
    display: inline-block;
    padding: 10px;
    background-color:rgb(53, 50, 50);
}
.block6{
    display: inline-block;
    padding: 10px;
    background-color:rgb(53, 50, 50);
} 

@media(max-width:1000px){
    .logo{
        margin:5px;
        padding-bottom: 0;
    }
    button{
        display: flex;
    }
    .botext,.player,.ryt,.green,.left,.topbar{
        display: none;
    }
    .Right{
        margin-top: 5px;
        margin-left:5px;
    }
    .playlists{
        display: flex;
        flex-direction: column;
        /* padding:30px; */
    }
    .play1,.play5{
        display: block;
        margin-left:5px;
        padding-top:0px;
    }
    .text{
        margin-left:5px;
    }
    .blocks{
        display: flex;
        flex-direction:column;
        margin-left: 5px;
        width:200px;
        align-items:center;
        justify-content: center;
    }

}