*{
    background-color: black;
    color:white;
}
.left{
    padding:20px;
}
p{
    font-size: 25px;
}
.right{
    display: flex;
    margin-left: 300px;
    justify-content: space-between;
}
.column{
    float:left;
    width:50%;
}
.row:after{
    content:"";
    display:table;
    clear: both;
}