*{
    background-color: black;
    color: white;
    font-family:DM sans;
}

.left{
    position: relative;
    line-height:1;
    letter-spacing:0;
}
p{
    font-size: 15px;
}
#heart{
    margin-left:20px;
}
.bottom{
    display:inline;
    background-color: rgb(41, 39, 39);
}
#player{
    margin-left:150px;
}
#options{
    margin-left:70px;
}
hr{
    padding-bottom:10px;
    background-color: rgb(5, 244, 5);
}
#nav{
    margin-left:100px;
}
#right{
    display:inline-flex;
    margin-top: 50px;
    padding:20px;
    font-size:50px;
}
